<%= form_for(piece) do |f| %>
  <% if piece.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(piece.errors.count, "error") %> prohibited this piece from being saved:</h2>

      <ul>
      <% piece.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :color %>
    <%= f.text_field :color %>
  </div>

  <div class="field">
    <%= f.label :active %>
    <%= f.check_box :active %>
  </div>

  <div class="field">
    <%= f.label :x_position %>
    <%= f.number_field :x_position %>
  </div>

  <div class="field">
    <%= f.label :y_position %>
    <%= f.number_field :y_position %>
  </div>

  <div class="field">
    <%= f.label :type %>
    <%= f.text_field :type %>
  </div>

  <div class="field">
    <%= f.label :game_id %>
    <%= f.text_field :game_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
