<div class="booyah-box col-xs-10 col-xs-offset-1 text-center">
<%= simple_form_for(game)  do |f| %>
  <% if game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% game.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<br />
  <div class="form-columns col-xs-6 col-xs-offset-1 text-center">
  <%= f.input :name %>
  <br />
  <%= f.input :result %>
  <br />
  <%= f.input :white_player_id %> 
  <br />
  <%= f.input :black_player_id %>
  <br />
  <%= f.submit 'Create', class: 'btn btn-primary' %>
  </div>
</div>
<% end %>

