<div class="booyah-box col-xs-10 col-xs-offset-1 text-center">
<br />
<h1>New Game</h1>

<%= simple_form_for(game)  do |f| %>
  <br />
  <div class="form-group">
    <%= f.text_field :name, placeholder: "Enter Any Name You Want", class: 'form-control'  %>
  </div>
  <br />
  <div class="form-group">
    <%= f.text_field :result, placeholder: "Enter 'in-progess'", class: 'form-control' %>
  </div>
  <br />
  <div class="form-group">
    <%= f.text_field :white_player_id, placeholder: "White Player Id Number", class: 'form-control' %>
  </div> 
  <br />
  <div class="form-group">
    <%= f.text_field :black_player_id, placeholder: "Black Player Id Number", class: 'form-control' %>
  </div>
  <br />
  <br />
  <%= f.submit 'Create', class: 'btn btn-primary' %>
  <br />
  <% end %>
  </div>
</div>

<% if game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% game.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


