<p id="notice"><%= notice %></p>

<div class="booyah-box col-xs-10 col-xs-offset-1">
  <h1><%= @game.name %></h1>
   <p> <%= @game.result %></p>
   <p> <%= @game.white_player %></p>
   <p> <%= @game.black_player %></p>
</div>
<div class="booyah-box col-xs-10 col-xs-offset-1">
[0,0,0,0,0,0,0], 
 [0,0,0,0,0,0,0], #[1,1] need to blur [0,1],[1,0],[1,2],[2,1]
  [0,0,0,1,0,0,0], #[2,3] need to blur [2,2], [1,3], [3,3], [2,4]
  [0,0,0,0,0,0,0],
  [0,0,0,0,0,0,0],
  [0,0,0,0,0,0,0]

</div>



<br />





<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>

