<p id="notice"><%= notice %></p>
<p>
  <strong>Name:</strong>
  <%= @game.name %>
</p>

<table id="htmlboard">
  <% x = 8 %>
  <% y = 1 %>
  <% 8.times do %>
    <tr>
      <% 8.times do %>
        <td>
          <div data-xcoord="<%= x %>" data-ycoord="<%= y %>" id='square-<%= x %>-<%= y %>'>
            <%= render_piece(@game.id, x, y) %>
          </div>
        </td>
        <% y += 1 %>
      <% end %>
    <% y = 1 %>
    <% x -= 1 %>
    </tr>
  <% end %>
</table>

<p>
  <strong>Result:</strong>
  <%= @game.result %>
</p>

<p>
  <strong>White player:</strong>
  <%= @game.white_player %>
</p>

<p>
  <strong>Black player:</strong>
  <%= @game.black_player %>
</p>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
