


<div class="booyah-box col-xs-10 col-xs-offset-1">

  



<div class="game col-xs-6 col-xs-offset-1">

  <h1 class="yum"><%= @game.name %></h1>

  <div class="btn-group">
	  <%= link_to 'Edit', edit_game_path(@game), class: 'btn btn-warning' %>
	   <%= link_to 'Back', games_path, class: 'btn btn-info' %>
   </div>
</div>

<table id="htmlboard">
  <% y = 8 %>
  <% x = 1 %>
  <% 8.times do %>
    <tr>
      <% 8.times do %>
        <td>
          <div data-xcoord="<%= x %>" data-ycoord="<%= y %>" id='square-<%= x %>-<%= y %>'>
            <%= render_piece(x, y) %>
          </div>
        </td>
        <% x += 1 %>
      <% end %>
    <% x = 1 %>
    <% y -= 1 %>
    </tr>
  <% end %>
</table>
<br />

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>

