<p id="notice"><%= notice %></p>

<div class="booyah-box col-xs-10 col-xs-offset-1">

  


   




<div class="game col-xs-6 col-xs-offset-1">

  <h1 class="yum"><%= @game.name %></h1>

  <div class="btn-group">
	  <%= link_to 'Edit', edit_game_path(@game), class: 'btn btn-warning' %>
	   <%= link_to 'Back', games_path, class: 'btn btn-info' %>
   </div>
</div>


<table border="2" width="600px" height="500px" align="center">

<tr height= "100px" width="200px">
	<td height=”100px” width=”100px” ><%= image_tag("bR.png", :class => "style_image") %> </td>
	<td height=”100px” width=”100px” bgcolor=”#1653c9”><%= image_tag("bN.png", :class => "style_image") %> </td>
	<td height=”100px” width=”100px”  ><%= image_tag("bB.png", :class => "style_image") %> </td>
	<td height=”100px” width=”100px” bgcolor=”#1653c9”><%= image_tag("bK.png", :class => "style_image") %> </td>
	<td height=”100px” width=”100px” ><%= image_tag("bQ.png", :class => "style_image") %> </td>
	<td height=”100px” width=”100px” bgcolor=”#1653c9”><%= image_tag("bB.png", :class => "style_image") %> </td>
	<td height=”100px” width=”100px” ><%= image_tag("bN.png", :class => "style_image") %> </td>
	<td height=”100px” width=”100px” bgcolor=”#1653c9”><%= image_tag("bR.png", :class => "style_image") %> </td>
</tr>

<tr height= "100px" width="200px">
	<td height=”100px” width=”100px” bgcolor=”#1653c9”><%= image_tag("bP.png", :class => "style_image") %> </td>
	<td height=”100px” width=”100px” ><%= image_tag("bP.png", :class => "style_image") %> </td>
	<td height=”100px” width=”100px” bgcolor=”#1653c9”><%= image_tag("bP.png", :class => "style_image") %> </td>
	<td height=”100px” width=”100px” ><%= image_tag("bP.png", :class => "style_image") %> </td>
	<td height=”100px” width=”100px” bgcolor=”#1653c9”><%= image_tag("bP.png", :class => "style_image") %> </td>
	<td height=”100px” width=”100px” ><%= image_tag("bP.png", :class => "style_image") %> </td>
	<td height=”100px” width=”50px” bgcolor=”#1653c9”><%= image_tag("bP.png", :class => "style_image") %> </td>
	<td height=”100px” width=”100px” ><%= image_tag("bP.png", :class => "style_image") %> </td>
</tr>
	<tr height= "100px" width="200px">
	<td height=”100px” width=”100px” > </td>
	<td height=”100px” width=”100px” bgcolor=”#1653c9”> </td>
	<td height=”100px” width=”100px”  > </td>
	<td height=”100px” width=”100px” bgcolor=”#1653c9”> </td>
	<td height=”100px” width=”100px” > </td>
	<td height=”100px” width=”100px” bgcolor=”#1653c9”> </td>
	<td height=”100px” width=”100px” > </td>
	<td height=”100px” width=”100px” bgcolor=”#1653c9”> </td>
</tr>

<tr height= "100px" width="200px">
	<td height=”100px” width=”100px” bgcolor=”#1653c9”> </td>
	<td height=”100px” width=”100px” > </td>
	<td height=”100px” width=”100px” bgcolor=”#1653c9”> </td>
	<td height=”100px” width=”100px” > </td>
	<td height=”100px” width=”100px” bgcolor=”#1653c9”> </td>
	<td height=”100px” width=”100px” > </td>
	<td height=”100px” width=”100px” bgcolor=”#1653c9”> </td>
	<td height=”100px” width=”100px” > </td>
</tr>
<tr height= "100px" width="200px">
	<td height=”100px” width=”100px” > </td>
	<td height=”100px” width=”100px” bgcolor=”#1653c9”> </td>
	<td height=”100px” width=”100px”  > </td>
	<td height=”100px” width=”100px” bgcolor=”#1653c9”> </td>
	<td height=”100px” width=”100px” > </td>
	<td height=”100px” width=”100px” bgcolor=”#1653c9”> </td>
	<td height=”100px” width=”100px” > </td>
	<td height=”100px” width=”100px” bgcolor=”#1653c9”> </td>
</tr>

<tr height= "100px" width="200px">
	<td height=”100px” width=”100px” bgcolor=”#1653c9”> </td>
	<td height=”100px” width=”100px” > </td>
	<td height=”100px” width=”100px” bgcolor=”#1653c9”> </td>
	<td height=”100px” width=”100px” > </td>
	<td height=”100px” width=”100px” bgcolor=”#1653c9”> </td>
	<td height=”100px” width=”100px” > </td>
	<td height=”100px” width=”100px” bgcolor=”#1653c9”> </td>
	<td height=”100px” width=”100px” > </td>
</tr>
<tr height= "100px" width="200px">
	<td  bgcolor=”#1653c9”><%= image_tag("wP.png", :class => "style_image") %> </td>
	<td height=”100px” width=”100px” ><%= image_tag("wP.png", :class => "style_image") %> </td>
	<td height=”100px” width=”100px” bgcolor=”#1653c9”><%= image_tag("wP.png", :class => "style_image") %> </td>
	<td height=”100px” width=”100px” ><%= image_tag("wP.png", :class => "style_image") %> </td>
	<td height=”100px” width=”100px” bgcolor=”#1653c9”><%= image_tag("wP.png", :class => "style_image") %> </td>
	<td height=”100px” width=”100px” ><%= image_tag("wP.png", :class => "style_image") %> </td>
	<td height=”100px” width=”100px” bgcolor=”#1653c9”><%= image_tag("wP.png", :class => "style_image") %> </td>
	<td height=”100px” width=”100px” ><%= image_tag("wP.png", :class => "style_image") %> </td>
</tr>

<tr height= "100px" width="200px">
	<td height=”100px” width=”100px” ><%= image_tag("wR.png", :class => "style_image") %> </td>
	<td height=”100px” width=”100px” bgcolor=”#1653c9”><%= image_tag("wN.png", :class => "style_image") %> </td>
	<td height=”100px” width=”100px”  ><%= image_tag("wB.png", :class => "style_image") %> </td>
	<td height=”100px” width=”100px” bgcolor=”#1653c9”><%= image_tag("wK.png", :class => "style_image") %> </td>
	<td height=”100px” width=”100px” ><%= image_tag("wQ.png", :class => "style_image") %> </td>
	<td height=”100px” width=”100px” bgcolor=”#1653c9”><%= image_tag("wB.png", :class => "style_image") %> </td>
	<td height=”100px” width=”100px” ><%= image_tag("wN.png", :class => "style_image") %> </td>
	<td height=”100px” width=”100px” bgcolor=”#1653c9”><%= image_tag("wR.png", :class => "style_image") %> </td>
</tr>

</table>

</div>



<br />






