<p id="notice"><%= notice %></p>

<h1 class="headline">Welcome to Your Game!</h1>
<div class="booyah-box col-xs-6 col-xs-offset-1">
  <h2><%= @game.name %></h2>
  <p> <%= @game.result %></p>
  <p> <%= @game.white_player.name %></p>
  <p> <%= @game.black_player.name %></p>
</div>
<br />

<form>
	<table id="form-to-move-pieces">
		<tr>
			<td class="step1"><b>X</b> position of <b>piece</b> you want to move:</td>
			<td class="step2"><b>Y</b> position of <b>piece</b> you want to move:</td>
			<td class="step3"><b>X</b> position of <b>destination</b> square:</td>
			<td class="step4"><b>Y</b> position of <b>destination</b> square:</td>
		</tr>

		<% selectnames = ["piece_x_coord", "piece_y_coord", "destination_x_coord", "destination_y_coord"] %>
		<% s = 1 %>
		<% a = 0 %>
		<tr>
			<% 4.times do %>
				<td class="step<%= s %>">
					<select name="<%= selectnames[a] %>"
						<% n = 0 %>
						<% 9.times do %>
							<option value="<%= n %>"><%= n %></option>
							<% n += 1 %>
						<% end %>
					</select>
				</td>
			<% a += 1 %>
			<% s += 1 %>
			<% end %>
		</tr>
		<tr id="moveit-row">
			<td colspan="4"><input type="submit" name="submit" value="Move the Piece"></td>
		</tr>
	</table>
</form>

<table id="htmlboard">
  <% x = 1 %>
  <% y = 8 %>
  <tr>
  	<td style="background:#fff"></td>
  	<% 8.times do %>
  		<th class="row-col-head">X=<%= x %></th>
  		<% x += 1 %>
  	<% end %>
  </tr>
  <% 8.times do %>
    <tr>
    	<th class="row-col-head">Y=<%= y %></th>
      <% 8.times do %>
        <td>
          <div data-xcoord="<%= x %>" data-ycoord="<%= y %>" id='square-<%= x %>-<%= y %>'>
            <%= render_piece(x, y) %>
          </div>
        </td>
        <% x += 1 %>
      <% end %>
      <% x = 1 %>
    	<% y -= 1 %>
    </tr>
  <% end %>
</table>
<br />

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
