<p id="notice"><%= notice %></p>

<div class="booyah-box col-xs-10 col-xs-offset-1">
  <h1><%= @game.name %></h1>
   <p> <%= @game.result %></p>
   <p> <%= @game.white_player %></p>
   <p> <%= @game.black_player %></p>
</div>
<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>

<div class="booyah-box col-xs-6 col-xs-offset-1">


<table border="2" width="700px" height="700px" align="center">

<tr>
<td height=”100px” width=”100px” > </td>
<td height=”100px” width=”100px” bgcolor=”#000000”> </td>
<td height=”100px” width=”100px”  > </td>
<td height=”10px” width=”100px” bgcolor=”#000000”> </td>
<td height=”100px” width=”100px” > </td>
<td height=”100px” width=”100px” bgcolor=”#000000”> </td>
<td height=”100px” width=”100px” > </td>
<td height=”100px” width=”100px” bgcolor=”#000000”> </td>
</tr>

<tr>
<td height=”100px” width=”100px” bgcolor=”#000000”> </td>
<td height=”100px” width=”100px” > </td>
<td height=”100px” width=”100px” bgcolor=”#000000”> </td>
<td height=”100px” width=”100px” > </td>
<td height=”100px” width=”100px” bgcolor=”#000000”> </td>
<td height=”100px” width=”100px” > </td>
<td height=”100px” width=”50px” bgcolor=”#000000”> </td>
<td height=”100px” width=”100px” > </td>
</tr>
<tr>
<td height=”100px” width=”100px” > </td>
<td height=”100px” width=”100px” bgcolor=”#000000”> </td>
<td height=”100px” width=”100px”  > </td>
<td height=”100px” width=”100px” bgcolor=”#000000”> </td>
<td height=”50px” width=”50px” > </td>
<td height=”50px” width=”50px” bgcolor=”#000000”> </td>
<td height=”50px” width=”50px” > </td>
<td height=”50px” width=”50px” bgcolor=”#000000”> </td>
</tr>

<tr>
<td height=”500px” width=”500px” bgcolor=”#000000”> </td>
<td height=”500px” width=”500px” > </td>
<td height=”50px” width=”50px” bgcolor=”#000000”> </td>
<td height=”50px” width=”50px” > </td>
<td height=”50px” width=”50px” bgcolor=”#000000”> </td>
<td height=”50px” width=”50px” > </td>
<td height=”50px” width=”50px” bgcolor=”#000000”> </td>
<td height=”50px” width=”50px” > </td>
</tr>
<tr>
<td height=”50px” width=”50px” > </td>
<td height=”50px” width=”50px” bgcolor=”#000000”> </td>
<td height=”50px” width=”50px”  > </td>
<td height=”50px” width=”50px” bgcolor=”#000000”> </td>
<td height=”50px” width=”50px” > </td>
<td height=”50px” width=”50px” bgcolor=”#000000”> </td>
<td height=”50px” width=”50px” > </td>
<td height=”50px” width=”50px” bgcolor=”#000000”> </td>
</tr>

<tr>
<td height=”500px” width=”500px” bgcolor=”#000000”> </td>
<td height=”500px” width=”500px” > </td>
<td height=”50px” width=”50px” bgcolor=”#000000”> </td>
<td height=”50px” width=”50px” > </td>
<td height=”50px” width=”50px” bgcolor=”#000000”> </td>
<td height=”50px” width=”50px” > </td>
<td height=”50px” width=”50px” bgcolor=”#000000”> </td>
<td height=”50px” width=”50px” > </td>
</tr>
<tr>
<td height=”50px” width=”50px” > </td>
<td height=”50px” width=”50px” bgcolor=”#000000”> </td>
<td height=”50px” width=”50px”  > </td>
<td height=”50px” width=”50px” bgcolor=”#000000”> </td>
<td height=”50px” width=”50px” > </td>
<td height=”50px” width=”50px” bgcolor=”#000000”> </td>
<td height=”50px” width=”50px” > </td>
<td height=”50px” width=”50px” bgcolor=”#000000”> </td>
</tr>

<tr>
<td height=”500px” width=”500px” bgcolor=”#000000”> </td>
<td height=”500px” width=”500px” > </td>
<td height=”50px” width=”50px” bgcolor=”#000000”> </td>
<td height=”50px” width=”50px” > </td>
<td height=”50px” width=”50px” bgcolor=”#000000”> </td>
<td height=”50px” width=”50px” > </td>
<td height=”50px” width=”50px” bgcolor=”#000000”> </td>
<td height=”50px” width=”50px” > </td>
</tr>

</table>

</div>



<br />






